#container{
    width: 760px;
    height: auto;
    margin: auto;
    padding-bottom: 40px;
    /* border: 1px solid black; */
    margin-top: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

body{
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
p{
    font-size: 40px;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#image{
    width: 100%;
    /* margin-top: 40px; */
    margin-left: 31%;
    /* margin: auto; */
    margin: center;
}
img{
    width: 40%;
    margin-top: 40px;
}
#formdiv{
    width: 100%;
    padding-left: 50px;
    padding-right: 40px;
}
input{
    
    width: 86%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid rgb(193, 210, 236);
    text-indent: 8px;
    font-size: large;

}
#input:hover{
    border: 2px snow #3b8fc2 ;
}
#formdiv div {
    /* margin-bottom: 5%; */
    padding: 10px;
    /* margin: 6% auto; */
}
label{
    padding-left: 10px;
    font-size: 16px;
}
#term{
    padding-left: 10px;
    font-size: x-large;
    color: #3b8fc2;
    cursor: pointer;
}
#term:hover{
    font-style: initial;
}


/* #btn{
    padding: 6px 20px;
    font-size: large;
    border-radius: 6px;
    border: 0px;
    /* margin-top: 60px; */
    /* color: #fff;
    background-color: #3b8fc2;
    border-color: #3b8fc2;
    cursor: pointer; */
/* } */ 
#btn{
    align-items: center;
    margin: center;
    /* margin-left: 40%; */
    /* color: white; */
    /* background-color: rgb(45, 95, 245); */
    padding: 15px 23px;
    font-size: large;
    border-radius: 6px;
    border: 0px;
    margin-top: 3px;
    color: #fff;
    background-color: #3b8fc2;
    border-color: #3b8fc2;
    cursor: pointer;
}
#pass{
    margin-top: 3px;
}
#btn:hover{
    background-color: #4582a7;
}
#btndiv{
    display: flex;
    justify-content: space-between;
}
h4{
    margin-right: 100px;
    color: #3b8fc2;
    
}

@media screen and (min-width: 481px) and (max-width: 769px) {
    /* for medium screen*/
    #container{
        width: 481px;
        height: 400px;
    }
    p{
        font-size: 26px;
    }
    input{
    
        width: 80%;
        height: 30px;
        border-radius: 10px;
        border: 1px solid rgb(193, 210, 236);
        text-indent: 8px;
        font-size: small;
    }
    #formdiv div {
        /* margin-bottom: 5%; */
        padding: 3px;
        /* margin: 6% auto; */
    }
    label{
        font-size: small;
    }
    #term{
        padding-left: 10px;
        font-size: medium;
        
    }
    #btn{
        padding: 3px 7px;
        /* padding-top: 3px; */
        font-size: small;
        border-radius: 5px;
        margin-top: 10px;
        border: 0px;
        /* margin-top: 60px; */
        color: #fff;
        background-color: #3b8fc2;
        /* border-color: #3b8fc2; */
        
    }
    #pass{
        /* margin-top: 5px; */
    }
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
  /* for small screen */
  #container{
    width: 320px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    }
    p{
        font-size: 26px;
    }
    #formdiv{
        width: 100%;
        padding-left: 30px;
        padding-right: 40px;
    }
    input{

        width: 80%;
        height: 30px;
        border-radius: 10px;
        border: 1px solid rgb(193, 210, 236);
        text-indent: 8px;
        font-size: small;
    }
    #formdiv div {
        /* margin-bottom: 5%; */
        padding: 3px;
        /* margin: 6% auto; */
    }
    label{
        font-size: small;
    }
    #term{
        /* padding-left: 10px; */
        font-size: medium;
        
    }
    #btn{
        padding: 3px 7px;
        /* padding-top: 3px; */
        font-size: small;
        border-radius: 5px;
        margin-top: 5px;
        border: 0px;
        /* margin-top: 60px; */
        color: #fff;
        background-color: #3b8fc2;
        /* border-color: #3b8fc2; */
        
    }
    #pass{
        margin-top: 5px;
        margin-right: 60px;
        font-size: small;
    }
  }
